@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-bodydark;
}

button.button {
    @apply bg-primary dark:bg-primary border-none border rounded-md inline-flex items-center justify-center py-1 px-4 text-center text-base font-medium text-white hover:bg-primary/80 hover:border-primary/80 disabled:bg-gray disabled:border-gray disabled:cursor-not-allowed outline-none
}

button.button-outline {
    @apply border-primary dark:border-primary border rounded-md inline-flex items-center justify-center py-1 px-4 text-center text-base font-medium text-white hover:bg-primary/10 hover:border-primary disabled:border-gray disabled:bg-transparent disabled:text-gray disabled:cursor-not-allowed outline-none
}

select {
    @apply bg-transparent border-body-color dark:border-body-color border rounded-md inline-flex items-center justify-center py-2 px-4 text-center text-base font-medium text-white hover:border-body-color/80 disabled:border-gray disabled:cursor-not-allowed
}

select > option {
    @apply bg-bodydark text-left;
}

.forbidden {
    filter: blur(5px);
}